html,
body {
    padding: 0;
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    //     Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

$primary-color: hotpink;
$primary-color-light: rgba($primary-color, 0.2);
$shadow-color: #e1e5ee;
$text-color: black;

// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

header {
    nav {
        position: absolute;
        top: 0;
        width: 100%;
        box-shadow: 0 4px 16px #e1e5ee;
        font-family: "Poppins", sans-serif;
        background: white;
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;
            list-style: none;
            .nav-logo {
                font-size: 2.5rem;
                margin-right: auto;
                cursor: pointer;
                transition: color 0.2s;

                &:hover,
                &:focus {
                    color: $primary-color;
                    text-shadow: 0 0 3rem $primary-color;
                }
            }
            .nav-item {
                flex-shrink: 0;
                flex-grow: 0;
                font-weight: bold;
                padding: 1.5rem 1.8rem;
                position: relative;
                cursor: pointer;
                svg {
                    position: absolute;
                    right: 0;
                    top: 40%;
                    transition: transform 0.3s;
                }

                &:after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 0.4em;
                    background: $primary-color;
                    border-radius: 4px;
                    bottom: 1em;
                    left: 1.6em;
                    transition: width 0.3s;
                }
                &:hover::after {
                    width: 60%;
                }
                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                    svg {
                        transform: rotate(180deg);
                    }
                }

                .nav-drop {
                    position: absolute;
                    top: 4rem;
                    box-shadow: 0 4px 16px $shadow-color;
                    background-color: white;
                    border-radius: 4px;
                    border: 1px solid $shadow-color;
                    width: 12rem;
                    padding: 0.5rem;
                    margin-left: -1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.5rem;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 200ms ease-in-out;
                    li {
                        width: 100%;
                        padding: 0.5rem 1rem;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: background 0.1s;
                        &:hover,
                        &:focus {
                            background: $primary-color-light;
                        }
                    }
                }
            }
            .nav-btn {
                button {
                    border: none;
                    outline: transparent;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    background: lighten($primary-color, 25);
                    color: darken($primary-color, 25);
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: bold;
                    cursor: pointer;
                    transition: 0.1s;
                    &:hover {
                        background: lighten($primary-color, 15);
                    }
                    &:focus {
                        text-shadow: 0 0 18px $primary-color;
                        outline: 4px solid lighten($primary-color, 20);
                    }
                }
            }
        }
    }
}

.container {
    width: 1300px;
    margin: 0 auto;
}

main {
    font-family: "Poppins", sans-serif;
    #home {
        height: 100vh;
        padding: 0 4rem;
        background-color: #fed317;
        display: flex;
        align-items: center;
        justify-content: center;
        section {
            display: flex;
            div {
                flex: 1;
                border-radius: 2px solid green;
                &:first-child {
                    margin-right: 50px;
                }
            }
            .enunciados {
                p {
                    &:first-child {
                        font-size: 45px;
                        line-height: 67.5px;
                        font-weight: 500;
                        margin-bottom: 0;
                        span {
                            font-weight: 700;
                        }
                    }
                    &:nth-child(2) {
                        font-size: 18px;
                    }
                    &:nth-child(3) {
                        font-weight: 700;
                        font-size: 15px;
                    }
                }
                .registro {
                    display: flex;
                    font-size: 15px;
                    input {
                        width: 350px;
                        height: 44px;
                        border-radius: 10px;
                        border: 1px solid #000;
                        padding: 0 15px;
                        margin-right: 10px;
                        font-weight: 500;
                        font-size: 15px;
                    }
                    button {
                        background-color: #000;
                        color: #fff;
                        border-radius: 10px;
                        border: none;
                        padding: 0 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    #alcance {
        height: 100vh;
        background-color: #fff;
        padding: 0 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .porque-anunciar {
            width: 1300px;
            height: 270px;
            margin-top: -55%;
            background-color: #000;
            border-radius: 10px;
            color: #fff;
            & > p {
                text-align: center;
                font-size: 26px;
                font-weight: 500;
            }
            article {
                display: flex;
                & > div {
                    flex: 1;
                    display: flex;
                    div {
                        &:first-child {
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            background-color: #fed317;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #000;
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
